<form method="post" action="{{ path('app_abat_jour_delete', {'id': abat_jour.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cette abat-jour ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ abat_jour.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
