{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel abat-jour{% endblock %}

{% block body %}
    <h1>Créer un nouvel abat-jour</h1>

    {{ include('abat_jour/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('app_abat_jour_index') }}">retour à la liste</a>
{% endblock %}
