{% extends 'base.html.twig' %}

{% block title %}Nouvelle marque{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Marque</h1>

    {{ include('marque/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('app_marque_index') }}">retour à la liste</a>
{% endblock %}
